<script type="text/plain">
  <%= render 'foos/foo', foo: FooDecorator.for_js_template %>
</script>

<h1>Listing foos</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @foos %>
</table>

<br />

<%= link_to 'New Foo', new_foo_path %>
