<script>
  $(function() {
    $("#new-foo").on('click', function(event) {
      event.preventDefault();
      var $form = $("<form><label for='foo-name'>Name</label><input id='foo-name' /><input type='submit' value='Submit' /></form>");
      $form.on('submit', function(fevent) {
        fevent.preventDefault();
        model = new App.Models.Foo()
        model.save({ name: $form.find('#foo-name').val() }).fail(function() {
          $(document.body).append("<br /><em>Sorry, server error. Couldn't save the Foo.</em>");
          $form.remove();
        }).success(function() {
          view = new Backbone.View;
          $('#foos').append(view.render('foo-template', model.presenter()));
          $form.remove()
        });
      });
      $(document.body).append($form);
      $form.find('#foo-name').trigger('focus')
    });
  });
</script>

<h1>Listing foos</h1>

<table id='foos'>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @foos %>
</table>

<br />

<%= link_to 'New Foo', new_foo_path, id: 'new-foo' %>
